**Data Type and Structure**

1. What are data structures, and why are they important?
  
⊵ A data structure is a way of organizing and storing data in a computer so it can be used efficiently.
Importance: They help in faster data access, better memory usage, and solving problems efficiently(eg searching, sorting, managing large data)

----
2.Explain the difference between mutable and immutable data types with examples.

⊵ Definition:

Mutable: Values can be changed after creation.

Immutable: Values cannot be changed once created.

Examples

Mutable: list, dict, set

Immutable: int, float, str, tuple

Memory Behavior

Mutable: Same memory location is updated.

Immutable: A new object is created for every change.

Use Cases

Mutable: Useful when data needs frequent updates.

Immutable: Useful when data must remain constant (e.g., dictionary keys).

----
3. What are the main differences between Lists and Tuples in Python?

⊵Mutability: Lists are mutable (can be changed), Tuples are immutable (cannot be changed).

Syntax: Lists use square brackets [ ], Tuples use parentheses ( ).

Performance: Tuples are faster and use less memory compared to lists.

Use case: Lists are used for dynamic data, Tuples are used for fixed data.

----
4.Describe how dictionaries store data.

⊵ Dictionaries store data as key-value pairs.

Internally, they use a hash table where the key is hashed to quickly find its value.
Keys must be unique and immutable (str, int, tuple etc.).

Values can be any data type, mutable or immutable.

---
5.Why use a Set instead of a List in Python?

⊵Sets store only unique elements (no duplicates allowed).

Membership tests (in operation) are faster in sets (because of hashing).

Useful when order doesn’t matter but uniqueness and speed are important.

Example: Removing duplicates from a list.

----
6.What is a String in Python, and how is it different from a List?

⊵ A string is a sequence of characters enclosed in quotes (" " or ' ').

Strings are immutable, whereas lists are mutable.

Strings store characters only, while lists can store different data types.

Example:

s = "hello"   # string

l = ["h","e","l","l","o"]   # list

---
7.How Tuples ensure data integrity in Python?

⊵ Tuples are immutable, so once created, their elements cannot be changed.

This prevents accidental modification of data.

Used when data must stay fixed (e.g., geographic coordinates, database records).

Their immutability ensures consistency and reliability.

----
8.What is a Hash Table, and how does it relate to Dictionaries in Python?

⊵ A hash table is a data structure that maps keys to values using a hashing function.

It provides fast lookups, insertions, and deletions (average O(1) time).

In Python, dictionaries are implemented using hash tables.

That’s why dictionary keys must be hashable (immutable).

----
9.Can lists contain different data types in Python?

⊵ Yes, lists can store elements of different data types in the same list.
Example:

my_list = [1, "hello", 3.14, True]

----
10.Explain why strings are immutable in Python.

⊵ Strings are immutable because once created, their memory location cannot be altered.

Any modification creates a new string object instead of changing the original.

This improves security, efficiency, and reliability in programs.

---
11.What advantages do dictionaries offer over lists for certain tasks?

⊵ Fast lookups using keys (O(1) time on average).

Store data in key–value pairs instead of only sequential items.

Useful for mapping relationships (e.g., student roll no → marks).

-----
12.How do sets handle duplicate values in Python?

⊵ Sets automatically remove duplicates.

If a duplicate element is added, it is ignored.

s = {1, 2, 2, 3}
print(s)   # {1, 2, 3}

----
13.Describe a scenario where using a tuple would be preferable over a list.

⊵ When data should remain constant and unmodified.

Example: Storing geographic coordinates (27.7, 85.3) or days of the week.

---

14.How does the “in” keyword work differently for lists and dictionaries?

⊵ List: Checks if the value exists in the list.

[10, 20, 30];  20 in list → True


Dictionary: Checks only the keys, not values.

{"a":1, "b":2};  "a" in dict → True

----

15.Can you modify the elements of a tuple? Explain why or why not.

⊵ No, you cannot modify a tuple because it is immutable.

Once created, elements are fixed to ensure data integrity.

---

16.What is a nested dictionary, and give an example of its use case.

⊵ A nested dictionary is a dictionary inside another dictionary.

Used to represent hierarchical data (like JSON).

students = {
    "101": {"name": "Alice", "marks": 85},
    "102": {"name": "Bob", "marks": 90}
}

---

17.Describe the time complexity of accessing elements in a dictionary.

⊵ Average case: O(1) (constant time) using hash table.

Worst case: O(n) if many collisions occur.

---
18.In what situations are lists preferred over dictionaries?

⊵ When order matters (lists maintain order).

When data doesn’t need a key-value relationship.

For sequential tasks like storing numbers, iterating, or sorting.

---

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

⊵ Dictionaries are based on hash tables, so items are stored based on hash values, not sequence.

You cannot access values by index like in lists.

Data is retrieved by keys, not by order. (Since Python 3.7+, dictionaries maintain insertion order, but conceptually they are key-based, not index-based.)

----

20. Explain the difference between a list and a dictionary in terms of data retrieval.

⊵ List: Data retrieved by index (position-based).
Example: my_list[0]

Dictionary: Data retrieved by key (mapping-based).
Example: my_dict["name"]

----

In [1]:
# Practical Questions
#1. Create a string with your name and print it
name = "Dimple"
print(name)

Dimple

In [2]:
# 2. Find the length  of string "Hello World"
text = "Hello World"
print(len(text))

11

In [4]:
# 3. Slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
print(s[:3])

Pyt

In [5]:
# 4. Convert the string "hello" to uppercasee
s ="hello"
print(s.upper())

HELLO

In [7]:
# 5.Replace the word "apple" with "orange"
s = "My Favorite fruit is apple"
print(s.replace("apple","orange"))

My Favorite fruit is orange

In [8]:
#6.Create a list with numbers 1 to 5 and print it
lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [9]:
#7.Append the number 10 to the list[1,2,3,4]
lst = [1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [10]:
#8.Remove the number 3 from the list[1,2,3,4,5]
lst = [1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [11]:
#9. Access the second element in the list['a','b','c','d']
l = ["a","b","c","d"]
print(l[1])

b

In [12]:
#10. Reverse the list[10,20,30,40,50]
l_1 = [10,20,30,40,50]
l.reverse()
print(l)

['d', 'c', 'b', 'a']

In [13]:
#11.Create a tuple with elements 100,200,300 and print it
t = (100,200,300)
print(t)

(100, 200, 300)

In [14]:
#12.Access the second-to-last element of the tuple('red','green','blue','yellow')
colors = ('red','green','blue','yellow')
print(colors[-2])

blue

In [16]:
#13. Find the minimum number in the tuple(10,20,5,15)
t = (10,20,5,15)
print(min(t))

5

In [19]:
#14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup = ("Dog","Cat","Rabbit")
print(tup.index("Cat"))

1

In [21]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
t = ("Apple","Banana","Mango")
print("kiwi" in t)

False

In [22]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {'a','b','c'}
print(set1)

{'a', 'b', 'c'}

In [23]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [24]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s ={1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [25]:
# 19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1,2,3}
s2 = {3,4,5}
s3 = s1|s2
print(s3)

{1, 2, 3, 4, 5}

In [26]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1,2,3}
s2 = {2,3,4}
s3 = s1&s2
print(s3)

{2, 3}

In [27]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {"Name":"Dimple" , "Age":20, "City":"Bengaluru"}
print(dict)

{'Name': 'Dimple', 'Age': 20, 'City': 'Bengaluru'}

In [31]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d = {'name': 'John', 'age': 25}
d.update({'Country': 'USA'})
print(d)

{'name': 'John', 'age': 25, 'Country': 'USA'}

In [32]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dicr = {'name': 'Alice', 'age': 30}
print(dicr['name'])

Alice

In [33]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d1.pop("age")
print(d1)

{'name': 'Bob', 'city': 'New York'}

In [34]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d2 = {'name': 'Alice', 'city': 'Paris'}
print("city" in d2)

True

In [35]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
l = [1,2,3,4,5]
t = (1,2,3,4,5)
d = {"A":1, "B":2, "C":3, "D":4, "E":5}
print(l)
print(t)
print(d)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}

In [37]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort
# it in ascending order, and print the result.
# take 5 numbers from user
numbers = []
for i in range(5):
    num = int(input("Enter a number between 1 and 100: "))
    numbers.append(num)

# sort the list
numbers.sort()

print("Sorted List:", numbers)

Enter a number between 1 and 100: 10
Enter a number between 1 and 100: 35
Enter a number between 1 and 100: 98
Enter a number between 1 and 100: 1
Enter a number between 1 and 100: 4
Sorted List: [1, 4, 10, 35, 98]

In [38]:
#28.Write a code to create a list with strings and print the element at the third index
fruits = ["Apple","Banana","Mango","Orange","Kiwi"]
print(fruits[2])

Mango

In [39]:
#29. Write a code to combine two dictionaries into one and print the result.
d1 = {'a':1, 'b':2}
d2 = {'c':3, 'd':4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [40]:
#30. Write a code to convert a list of strings into a set.
words = ["Cap","Mat","Bat","Hat","Pen"]
s = set(words)
print(s)

{'Bat', 'Hat', 'Cap', 'Pen', 'Mat'}